# IMPORT LIBRARY

In [1]:
import numpy as np
import pandas as pd
import plotly.express as px
import seaborn as sns
import plotly.graph_objects as go
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans

# IMPORT DATA

In [2]:
dataset = pd.read_csv("Iris.csv")

In [4]:
dataset.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
dataset.drop('Id',inplace=True,axis=1)

In [6]:
X = dataset.iloc[:,:-1].values 
y = dataset.iloc[:,-1].values

In [9]:
dataset.head().style.background_gradient(cmap=sns.dark_palette("blue", as_cmap=True))

# EDA

In [ ]:
fig = px.pie(
    iris,
    'Species',
    color_discrete_sequence=['#003f5c', '#0077b6', '#00b4d8'],  # Shades of blue
    title='Data Distribution',
    template='plotly'
)